<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.monitor.core.mapper.MetooAreaMapper">
    <update id="updateInfo">
        update metoo_area
        <set>
            <if test="name != null">
                name=#{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id=#{parentId,jdbcType=BIGINT},
            </if>
        </set>
        where unit_id=#{unitId,jdbcType=BIGINT}
    </update>

    <select id="queryList" resultType="com.metoo.monitor.core.entity.MetooArea">
        select * from metoo_area a
        where a.unit_id is null
        order by a.id asc
    </select>
    <select id="queryUnitList" resultType="com.metoo.monitor.core.vo.MetooAreaVo"
            parameterType="java.lang.Long">
        select a.unit_id as id ,a.name from metoo_area a
        where a.unit_id is not null
        and a.parent_id=#{areaId,jdbcType=BIGINT}
        order by a.unit_id asc
    </select>
    <select id="queryById" resultType="com.metoo.monitor.core.entity.MetooArea" parameterType="java.lang.Long">
        select * from metoo_area a
        where a.unit_id=#{unitId,jdbcType=BIGINT}
    </select>
    <select id="queryAll" resultType="com.metoo.monitor.core.entity.MetooArea">
        select * from metoo_area a
        order by a.id asc
    </select>
    <select id="queryAreaByPath" resultType="com.metoo.monitor.core.entity.MetooArea"
            parameterType="java.lang.String">
        select * from (
                WITH RECURSIVE category_path (id, name, path, depth) AS (
          SELECT id,
                 name,
                 CONCAT(name, '/') AS path,
                 1 AS depth
          FROM metoo_area ma
          WHERE parent_id =0
        UNION ALL
          SELECT c.id,
                 c.name,
                 CONCAT(cp.path, c.name, '/') AS path,
                 depth + 1
          FROM category_path AS cp
          JOIN metoo_area AS c ON cp.id = c.parent_id
          and c.unit_id is null )
        SELECT * FROM category_path) a
        where a.path=#{name}
    </select>

    <insert id="saveInfo" parameterType="com.metoo.monitor.core.entity.MetooArea">
        insert into metoo_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="unitId != null">
                unit_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="unitId != null">
                #{unitId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

</mapper>
